<style>
  label {
    display: block;
  }
</style>

<form {{action "save" on="submit"}}>
  <div class="form-field">
    <label>Name</label>
    {{input type="text" name="name" value=name}}
  </div>
  <button>Save</button>
</form>
